/* overrides */

body {

    font-family: 'Raleway', sans-serif;
    background-color: black;
    
}

h1 {
    font-family: 'Source Sans Pro', sans-serif;
}

.wrapper {
    font-size: 20pt;
    
    

}

p {
    font-family: 'Raleway', sans-serif;
    font-size: 16;
  
}


#about, #projects, #contact{
   margin-bottom: 40px;
    margin-top: 40px;
    padding: 20;
}

.topbar{

    margin-left: -25;
    margin-right: -25;
    
}
.navbar-inner{
    padding: 100;
}
.color1 {
    
    background-color: darkslategrey;
    color:aliceblue;
}

.parallax-window {
    min-height: 400px;
    background: transparent;
    background-repeat: repeat;
    margin: 0;
}

.marZero {
}