/* overrides */

html,
body {
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: black;
}

h1 {
    font-family: 'Source Sans Pro', sans-serif;
}


p {
    font-family: 'Raleway', sans-serif;
    font-size: 16;
}

@media only screen and (min-width: 500px) {
    /* Media Query Laptop */
    .titleText {
        height: 600px;
    }

    .titleText > h1 {
        font-family: 'Source Sans Pro', sans-serif;
        color: white;
        font-size: 60pt;
        padding-top: 100;
    }

    .titleText > p {
        font-family: 'Raleway', sans-serif;
        color: white;
        font-size: 12pt;
    }


    .color1 {
        /* this is a container div */
        background-color: white;
        margin: 0 auto;
        padding: 0 120 0 120;
    }


    #about {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    #projects {
        margin-bottom: 100px;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    #contact {
        padding-top: 50px;
        padding-bottom: 50px;
    }


    footer {
        background-color: F71735;
        height: 100px;
        padding: 25;
        margin-top: -16;
    }

}


.parallax-window {
    background: transparent;
    min-height: 400px;
    max-width: 100%;
}

.carousel {
    max-width: 800px;
    margin: 0 auto;

}

@media only screen and (min-width: 30px) and (max-width: 500px) {
    /* Media Query Mobile */
    .titleText {
        height: 300px;
    }

    .titleText > h1 {
        font-family: 'Source Sans Pro', sans-serif;
        color: white;
        font-size: 60pt;
    }

    .titleText > p {
        font-family: 'Raleway', sans-serif;
        color: white;
        font-size: 12pt;
    }

    .color1 {
        /* this is a container div */
        background-color: white;
        margin: 0 auto;
        padding: 0 0 0 0;
    }


    #about {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    #projects {
        margin-bottom: 100px;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    #contact {
        padding-top: 50px;
        padding-bottom: 50px;
    }


    footer {
        background-color: F71735;
        height: 100px;
        padding: 25;
        margin-top: -16;
    }

}
