$cMain: white;
$cSection1: #ea1c31;
$cSection2: orange;
$cSection3: #50b0a6;
$cFoot: #1c1d21;
$cFont: #f4f7fc;
$cLink: #f4f7fc;

$hFont: "Source Sans Pro", sans-serif;
$pFont: "Open Sans", sans-serif;

html {
  width: 100%;
  margin: 0 auto;
}
body {
  background-color: $cFoot;
}
.mainDiv {
  margin: 0 auto;
  width: 100%;
  padding: 0;
}
.jumbotron {
  height: 800px;
  width: 100%;
  background-image: url(./images/bg2.jpg);
  z-index: 1;
  color: $cFont;
  h1 {
    padding-top: 100px;
    font-size: 12vh;
  }
  p {
    font-size: 4vh;
  }
  margin-bottom: -10;
}
.jumboFill {
  height: 400px;
  background-image: url(./images/cut1.png);
}
h1 {
  font-family: $hFont;
  opacity: 1;
}
.row {
  margin: 0 auto;
  background-color: $cMain;

  p {
    padding: 10px;
    text-align: center;
    font-family: $pFont;
  }
  .skillIcons {
    text-align: center;
    padding: 10px;
  }
  .card {
    margin: 10px;
  }
  h1 {
    color: $cFont;
    font-size: 9vh;
    margin: 60 0 40 50;
  }
  a {
    text-align: center;
  }
  .skillIcons {
    font-size: 4vh;
  }
}
footer {
  height: 70px;
  text-align: center;
  background-color: $cSection1;
  overflow: hidden;
  a {
    padding: 0 10 10 0;
    color: $cFont;
    margin: 0 auto;
    font-size: 4vh;
  }
}

.sec1 {
  z-index: 2;
  height: 800px;
  background-color: $cSection1;
  color: $cMain;
}
.sec2 {
  height: 200px;
  background-color: $cSection2;
}
.sec22 {
  margin: 0 auto;
  padding: 0;
  background-color: $cSection2;
  color: $cFont;
}
.sec3 {
  height: 400px;
  background-color: $cSection3;
  color: $cMain;
}
.sec33 {
  height: 300px;
  background-image: url(./images/cut1.png);
  background-position: -1;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

p {
  font-size: 3vh;
}
#email {
  color: orangered;
}

a:link {
  color: $cLink;
  text-decoration: none;
}
a:hover {
  color: $cLink;
}

.ani3 {
  animation-iteration-count: infinite;
  margin-left: -18;
}

.decal {
  font-size: 10vh;
  float: right;
}

//projects
#pr1 {
  background-color: turquoise;
  width: 20%;
  height: 400px;
  overflow: hidden;
  img {
    margin-left: -100;
  }
}
#pr2 {
  background-color: green;
  width: 20%;
  height: 400px;
  overflow: hidden;
  img {
    margin-left: -320;
  }
}
#pr3 {
  background-color: red;
  width: 20%;
  height: 400px;
  overflow: hidden;
  img {
    margin-left: -100;
  }
}
#pr4 {
  background-color: orange;
  width: 20%;
  height: 400px;
  overflow: hidden;
  img {
    margin-left: -100;
  }
}
#pr5 {
  background-color: black;
  width: 20%;
  height: 400px;
  overflow: hidden;
  img {
    margin-left: -400;
  }
}
#pr6,
#pr7,
#pr8,
#pr9,
#pr10 {
  background-color: white;
  width: 100%;
  color: black;
  width: 20%;
  p {
    font-size: 2vh;
  }
}
