/* overrides */

html,
body {
    height: 100%;
}

body {

    font-family: 'Raleway', sans-serif;
    background-color: black;

}

h1 {
    font-family: 'Source Sans Pro', sans-serif;
}

.wrapper {
    margin: 0;
}

.wrap2 {
    max-width: 1000px;
    margin: 0 auto;
}

p {
    font-family: 'Raleway', sans-serif;
    font-size: 16;

}

.titleText > h1{
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    font-size: 60pt;

}
.titleText > p{
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 12pt;
}

#about {
    margin-bottom: 100px;
    margin-top: 100px;
    padding: 10;
    width: 800px;
    margin: 0 auto;
}

#projects {
    margin-top: 20;
   height: 700;
}

#contact {
    padding-bottom: 10;
}

.topbar {
    font-size: 20;
   

}

ul {
    margin: 10;
}

.color1 {

    background-color: white;

}

.parallax-window {
    background: transparent;
    min-height: 400px;
}

.carousel {
    max-height: 400px;
    max-width: 800px;
    margin: 0 auto;
    
}

.carousel-inner img {
    margin: auto;
}

footer {
    background-color: F71735;
    margin-top: -20;
    height: 100px;
}
